@model Order
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_CustomerwithoutSlideLayout.cshtml";

    decimal Subtotal= 0;
    decimal  Total= 0;
    List<Product>? productSelected =new List<Product>();

    
    if(HttpContextAccessor.HttpContext.Session.GetString("cart") != null)
    {
        var productsSerialized = HttpContextAccessor.HttpContext.Session.GetString("cart");
        productSelected =JsonConvert.DeserializeObject<List<Product>>(productsSerialized);
       
    }

    @foreach(var product in productSelected)
    {
        Subtotal += product.Price;
    }
     Total = 150+Subtotal;

}

<!-- Page Content -->
<div class="container">

    <h2 class="mt-5"><i class="fa  fa-credit-card-alt"></i> Checkout</h2>
    <hr>


        <div class="row"> 

        <div class="col-md-7">  
            <h4>Billing Details</h4>

               <form asp-action="Checkout" asp-controller="Customer" asp-antiforgery="true" method="post">
                    <div asp-validation-summary="None" class="text-danger"></div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                       <label asp-for="Email"></label>
                       <input asp-for="Email" class="form-control" placeholder="Email"/>
                       <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                      <label asp-for="Name"></label>
                       <input asp-for="Name" class="form-control" placeholder="Name"/>
                       <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="form-group">
                       <label asp-for="Address"></label>
                       <input asp-for="Address" class="form-control" placeholder="Address"/>
                       <span asp-validation-for="Address" class="text-danger"></span>
                  </div>
                  <div class="form-row">
                      <label asp-for="City"></label>
                       <input asp-for="City" class="form-control" placeholder="City"/>
                       <span asp-validation-for="City" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                    <label asp-for="Phone"></label>
                       <input asp-for="Phone" class="form-control" placeholder="Phone"/>
                       <span asp-validation-for="Phone" class="text-danger"></span>
                  </div>
                  <hr>
                  <h5><i class="fa fa-credit-card"></i> Payment Details</h5>

                  <div class="form-group">
                     <label asp-for="NameonCard"></label>
                       <input asp-for="NameonCard" class="form-control" placeholder="Name on Card"/>
                       <span asp-validation-for="NameonCard" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                       <label asp-for="CreditcardNumber"></label>
                       <input asp-for="CreditcardNumber" class="form-control" placeholder="Credit Card Number"/>
                       <span asp-validation-for="CreditcardNumber" class="text-danger"></span>
                  </div>
                  <input asp-for="TotalPrice" value=@Total class="form-control" hidden/>
                  <button type="submit" class="btn btn-outline-info col-md-12">Complete Order</button>
                </form>

            </div>

            <div class="col-md-5">
                
            <h4>Your Order</h4>
                
                <table class="table your-order-table">
                    <tr>
                        <th>Image</th>
                        <th>Details</th>
                        <th>Qty</th>
                    </tr>
                    @foreach(var product in productSelected)
                    {
                       <tr>
                        <td><img src="data:image/*;base64,@(Convert.ToBase64String(product.Image))" alt="" style="width: 4em"></td>
                        <td>
                            <strong>@product.Name</strong><br>
                            @product.Description <br> 
                            <span class="text-dark">@product.Price EGP</span>
                        </td>
                        <td>
                            <span class="badge badge-light">@product.Quantity</span>
                        </td>
                      </tr>
                   }
                
                   
                </table>

                <hr>
                <table class="table your-order-table table-bordered">
                    <tr>
                        <th colspan="2" ">Price Details</th>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td>@Subtotal</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$150</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>@Total</th>
                    </tr>
                    
                </table>

            </div>
        </div>

</div>
<!-- /.container -->

<div class="mt-5"><hr></div>
